<html>
    <head>
        <title>Super Blog Martu</title>
    </head>
    <body>
      <div>
        <h1><a href="www.wykop.pl">Kliknij tutaj a nie będziesz przegrywem!</a><h1>
      </div>

      <div>
        <p>opublikowane: 05.07.1989, 13:14</p>
        <h2><a href="">Mój post z przeszłości!</a></h2>
        <p> Super mądre zdania. Podróżuje z Doctorem i przenoszę się wczasie :D
          JUPI JUPI kasz jej </p>
      </div>

      <div>
        <p>opublikowane: 05.07.2089,13:14</p>
        <h2><a href="">Mój post z przyszłośći!</a></h2>
        <p> A co tu się wyprawia! teraz przyszłość whooaaa, głowa mała:P </p>
        <ul><li><em>Super</em></li><li>to</li><li>jest</li><li>lista</li></ul>

    </body>
</html>
